node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo
.expo-shared
dist
build
android/app/build
android/build
ios/build
ios/Pods
*.iml
*.log
*.lock
.DS_Store
.env
.env.*.local
keystore.jks
*.keystore
